/* vim: set expandtab tabstop=4 shiftwidth=4: */

a:link, a:visited {
    color: #fdb813;
}

a:active, a:hover {
    color: #003300;
}

.page-title a:link,
.page-title a:visited {
	color: #fdb813;
}
.page-title a:active,
.page-title a:hover {
	color: #003300;
}

.entry-title a:active,
.entry-title a:hover {
	color: #003300;
}

.page-link a:active,
.page-link a:hover {
	color: #003300;
}

.entry-meta a,
.entry-utility a {
	color: #fdb813;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #003300;
}

.navigation a:link,
.navigation a:visited {
	color: #fdb813;
}
.navigation a:active,
.navigation a:hover {
	color: #003300;
}

.comment-meta a:link,
.comment-meta a:visited {
	color: #fdb813;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #003300;
}

.reply a,
a.comment-edit-link {
	color: #fdb813;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #003300;
}

#respond .required {
	color: #003300;
}

.widget_rss a.rsswidget:hover {
	color: #003300;
}

.widget-title {
    border-bottom: 3px solid #003300;
}

.entry-title {
    border-bottom: 4px solid #003300;
}

.entry-title a:active, .entry-title a:hover {
    color: #003300;
}

/* =Responsive Structure
----------------------------------------------- */

@media (max-width: 1023px) {
}

@media (max-width: 650px) {
}

@media (max-width: 450px) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* =Print
----------------------------------------------- */

@media print {
}
